@import 'tailwindcss';
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #f6f9fd;
    --color-primary: #fefffe;
    --color-secondary: #7c8485;
    --color-red: #fe5250;
    --color-text: #071636;

    --color-background-dark: #1f2937;
    --color-primary-dark: #111827;
    --color-secondary-dark: #d1d5db;
    --color-red-dark: #f87171;
    --color-text-dark: #f9fafb;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    color: var(--color-secondary);
}

html.dark {
    background-color: var(--color-background-dark);
    color: var(--color-secondary-dark);
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
