@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #f6f9fd;
    --color-primary: #fefffe;
    --color-secondary: #7c8485;
    --color-red: #fe5250;
    --color-text: #071636;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    color: var(--color-secondary);
    height: 100dvh;
}
